@model WebApplication1_1105_TSET_member5.Views.Account.HeaderViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
	<a asp-action="Index">返回訂單查詢</a>
</p>

<div>
	<p><strong>訂單日期:</strong> @Model.OrderDate</p>
	<p><strong>訂單編號:</strong> @Model.OrderId</p>
	<p><strong>總金額:</strong> @Model.Total</p>
	<p><strong>訂單狀態:</strong> @Model.OrderStatus</p>
	<p><strong>出貨狀態:</strong> @Model.ShipStatus</p>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				產品名稱
			</th>
			<th>
				數量
			</th>
			<th>
				單位
			</th>
			<th>
				單價
			</th>
			<th>
				項目總價
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Orderdetails)
		{
			<tr>
				<td>
					@item.ProductName
				</td>
				<td>
					@item.Qty
				</td>
				<td>
					@item.Uom
				</td>
				<td>
					@item.UnitPrice
				</td>
				<td>
					@(item.Qty * item.UnitPrice)
				</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>
